<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReductoUI | Button</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="grid-container">
      <div class="sidebar shadow-bottom" id="reducto-sidebar">
        <a href="/index.html"><h1 class="logo">REDUCTO UI</h1></a>
        <h2 class="nav-title">Components</h2>

        <ul class="nav-links">
          <li class="nav-link-item">
            <a href="/components/Alert/alert.html">Alert</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Avatar/avatar.html">Avatar</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Badge/badge.html">Badge</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Button/button.html">Button</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Card/card.html">Card</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Grid/grid.html">Grid</a>
          </li>
          <li class="nav-link-item active">
            <a href="/components/Image/image.html">Image</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Input/input.html">Input</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Text Utilities/text-utilities.html"
              >Text Utilities</a
            >
          </li>
          <li class="nav-link-item">
            <a href="/components/Lists/lists.html">Lists</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Modal/modal.html">Modal</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Navigation/navigation.html">Navigation</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Rating/rating.html">Rating</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Slider/slider.html">Slider</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Toast/toast.html">Toast</a>
          </li>
        </ul>
        <div style="height: 1.5rem"></div>
      </div>
      <!-- Ham menu -->
      <div class="ham-nav">
        <a href="/index.html"><h1 class="ham-logo">REDUCTO UI</h1></a>
        <div>
          <img
            id="ham-menu"
            class="ham-menu"
            src="/assets/ham-menu.svg"
            alt=""
          />
        </div>
      </div>
      <section class="main">
        <h1>Image</h1>
        <p>
          Responsive Image Components are used to dsiplay Images on websites,
          which are screen responsive. They expand upto the width of the
          container they are in.
        </p>
        <h3>Responsive image</h3>
        <div class="example-container">
          <img
            class="resp-img"
            src="https://assets.wallpapersin4k.org/uploads/2017/04/Bing-Image-Of-The-Day-Wallpaper-24.jpg"
            alt="image"
          />
          <pre>
            <code class="html">
                &lt;img class="resp-img" src="/image.jpg" alt="image" /&gt;
            </code>
          </pre>
        </div>
        <h3>Round image</h3>
        <div class="example-container">
          <img
            class="round-img"
            src="https://assets.wallpapersin4k.org/uploads/2017/04/Bing-Image-Of-The-Day-Wallpaper-24.jpg"
            alt="image"
          />
          <pre>
            <code class="html">
                &lt;img class="round-img" src="/image.jpg" alt="image" /&gt;
            </code>
          </pre>
        </div>
      </section>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="/index.js"></script>
  </body>
</html>
