<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReductoUI | Badge</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="grid-container">
      <div class="sidebar shadow-bottom" id="reducto-sidebar">
        <a href="/index.html"><h1 class="logo">REDUCTO UI</h1></a>
        <h2 class="nav-title">Components</h2>

        <ul class="nav-links">
          <li class="nav-link-item">
            <a href="/components/Alert/alert.html">Alert</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Avatar/avatar.html">Avatar</a>
          </li>
          <li class="nav-link-item active">
            <a href="/components/Badge/badge.html">Badge</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Button/button.html">Button</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Card/card.html">Card</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Grid/grid.html">Grid</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Image/image.html">Image</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Input/input.html">Input</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Text Utilities/text-utilities.html"
              >Text Utilities</a
            >
          </li>
          <li class="nav-link-item">
            <a href="/components/Lists/lists.html">Lists</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Modal/modal.html">Modal</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Navigation/navigation.html">Navigation</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Rating/rating.html">Rating</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Slider/slider.html">Slider</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Toast/toast.html">Toast</a>
          </li>
        </ul>
        <div style="height: 1.5rem"></div>
      </div>
      <!-- Ham menu -->
      <div class="ham-nav">
        <a href="/index.html"><h1 class="ham-logo">REDUCTO UI</h1></a>
        <div>
          <img
            id="ham-menu"
            class="ham-menu"
            src="/assets/ham-menu.svg"
            alt=""
          />
        </div>
      </div>
      <section class="main">
        <h1>Badge</h1>
        <p>
          Badges are small circles which can be used to display numbers or user
          status, depending on the usage.
        </p>
        <h3>Profile Badge</h3>
        <p>Profile Badge is used to show the current status of a user.</p>
        <div class="example-container">
          <div class="example-component flex">
            <div class="badge">
              <img
                class="avatar"
                src="https://mui.com/static/images/avatar/1.jpg"
                alt="avatar-1"
              />
              <div class="online"></div>
            </div>

            <div class="badge">
              <img
                class="avatar"
                src="https://mui.com/static/images/avatar/1.jpg"
                alt="avatar-1"
              />
              <div class="offline"></div>
            </div>
          </div>
          <pre>
            <code class="html">
            &lt;div class="badge" &gt;
                &lt;img class="avatar" src="/assets/avatar.jpg" alt="avatar"&gt;
                &lt;div class="online"&gt;&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="badge" &gt;
                &lt;img class="avatar" src="/assets/avatar.jpg" alt="avatar"&gt;
                &lt;div class="offline"&gt;&lt;/div&gt;
            &lt;/div&gt;
            </code>
          </pre>
        </div>
        <h3>Number Badge</h3>
        <p>Number Badge is used to show the number of items.</p>
        <div class="example-container">
          <div class="example-component flex">
            <div class="badge">
              <img
                class="avatar"
                src="https://mui.com/static/images/avatar/1.jpg"
                alt="avatar-1"
              />
              <div class="number">10</div>
            </div>

            <div class="badge">
              <img
                class="avatar"
                src="https://mui.com/static/images/avatar/1.jpg"
                alt="avatar-1"
              />
              <div class="number offline">15</div>
            </div>
          </div>
          <pre>
            <code class="html">
            &lt;div class="badge" &gt;
                &lt;img class="avatar" src="/assets/avatar.jpg" alt="avatar"&gt;
                &lt;div class="number"&gt;10&lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="badge" &gt;
                &lt;img class="avatar" src="/assets/avatar.jpg" alt="avatar"&gt;
                &lt;div class="number offline"&gt;15&lt;/div&gt;
            &lt;/div&gt;
            </code>
          </pre>
        </div>
      </section>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="/index.js"></script>
  </body>
</html>
