<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReductoUI | Button</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="grid-container">
      <div class="sidebar shadow-bottom" id="reducto-sidebar">
        <a href="/index.html"><h1 class="logo">REDUCTO UI</h1></a>
        <h2 class="nav-title">Components</h2>

        <ul class="nav-links">
          <li class="nav-link-item">
            <a href="/components/Alert/alert.html">Alert</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Avatar/avatar.html">Avatar</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Badge/badge.html">Badge</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Button/button.html">Button</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Card/card.html">Card</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Grid/grid.html">Grid</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Image/image.html">Image</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Input/input.html">Input</a>
          </li>
          <li class="nav-link-item active">
            <a href="/components/Text Utilities/text-utilities.html"
              >Text Utilities</a
            >
          </li>
          <li class="nav-link-item">
            <a href="/components/Lists/lists.html">Lists</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Modal/modal.html">Modal</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Navigation/navigation.html">Navigation</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Rating/rating.html">Rating</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Slider/slider.html">Slider</a>
          </li>
          <li class="nav-link-item">
            <a href="/components/Toast/toast.html">Toast</a>
          </li>
        </ul>
        <div style="height: 1.5rem"></div>
      </div>
      <!-- Ham menu -->
      <div class="ham-nav">
        <a href="/index.html"><h1 class="ham-logo">REDUCTO UI</h1></a>
        <div>
          <img
            id="ham-menu"
            class="ham-menu"
            src="/assets/ham-menu.svg"
            alt="ham-menu"
          />
        </div>
      </div>
      <section class="main">
        <h1>Text Utilities</h1>
        <p>
          Documentation and examples for Reducto UI text utilities which has
          headings, small text, gray text, and center text.
        </p>
        <h3>Headings</h3>
        <div class="example-container">
          <h1>h1. Reducto UI</h1>
          <div class="divider m-1"></div>
          <h2>h2. Reducto UI</h2>
          <div class="divider m-1"></div>
          <h3>h3. Reducto UI</h3>
          <div class="divider m-1"></div>
          <h4>h4. Reducto UI</h4>
          <div class="divider m-1"></div>
          <h5>h5. Reducto UI</h5>
          <div class="divider m-1"></div>
          <h6>h6. Reducto UI</h6>
          <pre>
            <code class="html">
              &lt;h1&gt;h1. Reducto UI&lt;/h1&gt;

              &lt;h2&gt;h2. Reducto UI&lt;/h2&gt;
          
              &lt;h3&gt;h3. Reducto UI&lt;/h3&gt;
          
              &lt;h4&gt;h4. Reducto UI&lt;/h4&gt;
          
              &lt;h5&gt;h5. Reducto UI&lt;/h5&gt;
          
              &lt;h6&gt;h6. Reducto UI&lt;/h6&gt;
            </code>
          </pre>
        </div>
        <h3>Small text</h3>
        <div class="example-container">
          <p class="small-text">This is an example of small text</p>
          <pre>
            <code class="html">
                &lt;p class="small-text"&gt;This is an example of small text&lt;/p&gt;
            </code>
          </pre>
        </div>
        <h3>Gray text</h3>
        <div class="example-container">
          <p class="gray-text">This is an example of gray text</p>
          <pre>
            <code class="html">
                &lt;p class="gray-text"&gt;This is an example of gray text&lt;/p&gt;
            </code>
          </pre>
        </div>
        <h3>Center text</h3>
        <div class="example-container">
          <p class="center-text">This is an example of center text</p>
          <pre>
            <code class="html">
                &lt;p class="center-text"&gt;This is an example of center text&lt;/p&gt;
            </code>
          </pre>
        </div>
      </section>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="/index.js"></script>
  </body>
</html>
